.container-all-currency {
  width: 300px;
  border-radius: 8px;
  border: 2px solid grey;
  padding: 20px;
  margin: 30px;
}

input {
  width: 60px;
  padding: 5px;
  border-radius: 3px;
}

.total-currency {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 15px;
}

.currency {
  font-size: 14px;
}

.container {
  display: flex;
  padding: 30px;
  flex-direction: column;
}
